<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/jquery.tableofcontents.min.js" %}" type="text/javascript" charset="utf-8"></script>

        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55822581-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="{% block body_id %}body{% endblock %}" data-target="#side-nav" data-spy="scroll">
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/"><img class="navbar-brand" id="logo" src="{% static "Logo.png" %}"></a>

            </div>
            <div class="navbar-collapse collapse">
                {% page_menu "pages/menus/dropdown.html" %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="desktop-only">
                        <a href="#" data-toggle="popover" data-content='{% search_form "all" %}'><i
                                class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% nevercache %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endnevercache %}

    </div>

    <div class="container" id="content">
        <h1>{% block title %}{% endblock %}</h1>

        <div class="row">

            <div class="col-md-12 middle">
                {% block main %}{% endblock %}
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                {% page_menu "pages/menus/footer.html" %}
            </div>
            <div class="col-md-4">
                <ul class="mapcount list-unstyled">
                </ul>
            </div>
            <div class="col-md-4">
                <div id="supporters">
                    <ul class="list-unstyled">
                        <li>Community: <a href="http://freifunk-duisburg.de">Freifunk Duisburg</a></li>
                        <li>Domäne: <a href="http://freifunk-ruhrgebiet.de">Freifunk Ruhrgebiet</a></li>
                        <li>Verein: <a href="https://freifunk-rheinland.net">Freifunk Rheinland e.V.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static "js/custom.js" %}"></script>

{% include "includes/footer_scripts.html" %}

</body>
</html>
