{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
 <div class="jumbotron">
 <div class="jumbotron-caption">
          <h2>Freifunk Community Duisburg</h2>
          <p>Freies Netzwerk für unsere Stadt</p>
          <p><a class="btn btn-primary btn-lg" role="button" href="/info">Weitere Infos</a></p>
 </div>
 </div>
        <div class="row">
            <div class="col-md-3 landingico">

                  <div class="megaico"><a href="/map"><div class="circle"><i class="fa fa-map-marker"></i></div></a></div>
                  <div>
                    <h3>Karte</h3>
                      <p>Wo Freifunk bereits verfügbar ist.</p>
                  </div>

            </div>
            <div class="col-md-3 landingico">

                  <div class="megaico"><a href="/video"><div class="circle"><i class="fa fa-video-camera"></i></div></a></div>
                  <div>
                    <h3>Was ist Freifunk?</h3>
                      <p>Eine Videoerklärung in 1:28.</p>
                  </div>

            </div>
            <div class="col-md-3 landingico">
                  <div class="megaico"><a href=http://freifunk-ruhrgebiet.de/anleitung/"><div class="circle"><i class="fa fa-download"></i></div></a></div>
                  <div>
                    <h3>Anleitung & Download</h3>
                      <p>Dein erster Freifunk-Knoten.</p>
                  </div>
                </div>
            <div class="col-md-3 landingico">

                  <div class="megaico"><a href="/kontakt"><div class="circle"><i class="fa fa-users"></i></div></a></div>
                  <div>
                    <h3>Kontakt</h3>
                      <p>Mail, Chat, Community.</p>
                  </div>
                </div></div>
        </div>
{% endblocktrans %}
{% endblock %}
