@import "bootstrap/bootstrap.less";

@footerheight: 80px;
@font-family-base: "Aller", Helvetica, Arial, sans-serif;
@headings-font-family: "League Gothic", Helvetica, Arial, sans-serif;


@navbar-default-bg: #1E4151;
@body-bg: #B8D6CC;

@navbar-default-link-color: #84A7B7;
@navbar-default-link-active-color: #517484;
@navbar-default-link-hover-color: @navbar-default-link-active-color;
//@panel-default-heading-bg: @color-secondary-1-3;

@brand-primary: rgba(33, 100, 163, 0.71);
@text-color: #000E1E;

@font-face {
  font-family: 'Aller';
  src: url('../fonts/ALLER_STD.TTF');
}

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/LEAGUEGOTHIC-REGULAR.OTF');
}

html,
body {
  height: 100%;
    #content {
      margin-top: 60px;
    }
  /* The html and body elements cannot have any padding or margin. */
}

#content {
  background-color: darken(@body-bg, 5%);
  border-radius: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footerheight;
  /* Pad bottom by footer height */
  padding: 0 0 @footerheight;
}

/* Set the fixed height of the footer here */
footer {
  height: @footerheight;
  background-color: @navbar-default-bg;
  border-top: @navbar-default-border;
  border-width: 1px;
  border-top-style: solid;
  a {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
}

.megaico {
  font-size: 80px;
  text-align: center;
  height: 155px;
  transition: 200ms linear;
  .circle {
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    border-color: black;
    margin: 0 auto 0 auto;
    border: solid;

  }
  &:hover {
    font-size: 90px;
    transition: 200ms linear;
  }
}

.jumbotron {
  background: url('/static/Duisburg_Hauptbahnhof_Panorama.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  .jumbotron-caption {
    background-color: fade(@body-bg, 80%);
    display:inline-block;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    //.btn {
    //  background-color: rgba( red(@btn-primary-bg), green(@btn-primary-bg), blue(@btn-primary-bg), 1);
    //}
  }
}

#logo {

 max-height: 100%;
}

.navbar-brand {
  padding: 5px 15px 5px 15px;
}

.navbar-nav {
  a {
    font-family: @headings-font-family;
    font-size: 150%
  }
}

.landingico {
  text-align: center;
  h3 {
    margin-top: 0;
  }
}

#supporters {
  img {
    max-height: @footerheight - 10;
  }
  float: right;
}

.nav-footer {
  float: left;
}